
  <% if @project && @project.assignable_users.any? && !@issue %>
   <% limit = 10 %>
   <% pageSize = 10 %>
    <%= stylesheet_link_tag 'redmine_project_team', plugin: 'redmine_project_team' %>
    <h3><%= l :label_members %></h3>
    <ul id="member_list" class="queries">
    <% for user in @project.assignable_users %>
      <% clss = 'query '
         if params.key?(:v) && params[:v].key?(:assigned_to_id) 
           clss << ' selected' if params[:v][:assigned_to_id].include?(user.id.to_s)
         elsif params.key?(:assigned_to_id)
           clss << ' selected' if params[:assigned_to_id].include?(user.id.to_s) 
         end 
       %>
       <%= content_tag(:li, :class => clss) do %>
         <%= render_member_link(user,params,:class =>clss) %>
       <% end %>
    <% end %>
    </ul>
    <div id="member_list_show_more"><a href="#" title=""  ><%= l :label_show_more %></a></div>
    <%= javascript_tag do %>
  $(document).ready(function(){
    var limit = <%= limit %>
    $('#member_list > li.query:gt('+(limit-1)+')').hide();
    if ($('#member_list > li.query').length <= limit ) {
      $('#member_list_show_more').hide();
    }
    $('#member_list_show_more').on('click', function(event) { 
      event.preventDefault();
      limit += <%= pageSize %>;
      $('#member_list > li.query:lt('+limit+')').show();
      if ($('#member_list > li.query').length <= limit ) {
        $(this).hide();
      }
    });
  }); 
    <% end %>
  <% end %>
  
  