
 <% if User.current.allowed_to?(:view_time_entries, @project) && !@project.members.empty? %>
  <% content_for :header_tags do %>
    <%= stylesheet_link_tag 'redmine_project_team', plugin: 'redmine_project_team' %>
  <% end %>
  <div class="spent_time box">
    <h3><%=l(:label_spent_time) %></h3>
    <% interval = 6 %>
    <% date_format = '%a %n %d/%m' %>
    <% end_date = params[:current_date].to_date if params[:current_date] %>
    <% end_date ||= User.current.today + 7 - User.current.today.cwday # always start on monday %>
    <% start_date = end_date - interval %>
    <table>
      <thead>
        <th>
          <div class="command">
            <%= link_to_content_update content_tag(:span, "", :class => "prev-week"), params.merge(:current_date => start_date - 1) %>
            <%= link_to_content_update content_tag(:span, "", :class => "prev-day"), params.merge(:current_date => end_date - 1) %>
            <%= link_to_content_update content_tag(:span, "", :class => "next-day"), params.merge(:current_date => end_date + 1) %>
            <%= link_to_content_update content_tag(:span, "", :class => "next-week"), params.merge(:current_date => end_date + interval+1) %>
          </div>
        </th>
        <% 
          total_spent_time_by_day = []
          for i in 0..interval 
        %>
            <% 
            total_spent_time_by_day[i]=0
            current_date = start_date+i
            clss = ""
            clss << " today" if current_date.eql? User.current.today
            clss << " nwday" if is_working_day?(current_date)
            %>
            <%= content_tag(:th, :class => clss) do %>
            <%= I18n.localize(current_date,:format => '%a %n %d/%m') %>
           <% end %>
        <% end %>
        <th><%=l(:label_total) %>
        </th>
      </thead>
      <tbody>
        <% spent_time_by_users = project_spent_times_by_users(start_date,end_date) %>
        <%  %>
        <% for member in @project.members %>
          <% if member.user.allowed_to?(:log_time,@project) %>
            <% sum = 0 %>
            <tr class=<%= cycle('even', 'odd') -%>><td><%= member.name %>
            </td>
            <% for i in 0..interval %>
              <% 
              current_date = start_date+i
              clss = ""
              clss << " today" if current_date.eql? User.current.today
              clss << " nwday" if is_working_day?(current_date)
              time = spent_time_by_users.fetch([member.user.id,current_date],0)
              sum += time 
              total_spent_time_by_day[i]+=time
              %>
              <%= content_tag(:td, :class => clss) do %>
                <%= link_to l_hours_short(time), project_time_entries_path(@project, :set_filter => 1,:spent_on => current_date, :user_id => member.user.id)  if time > 0%>
              <% end %>
            <% end %>
            </td>
            <td><%= link_to l_hours_short(sum), project_time_entries_path(@project, :set_filter => 1,:f => [:spent_on,:user_id], :op => {:spent_on => '><',:user_id => '='},:v => {:spent_on => [start_date, end_date], :user_id => [member.user.id]}) %>
            </td>
            </tr>
          <% end %>
        <% end %>
          <tr>
           <td class="total"><%=l(:label_total) %></td>
          <% sum = 0 %>
           <% for i in 0..interval %>
            <%
            current_date = start_date+i
            clss = "total"
            clss << " today" if current_date.eql? User.current.today
            clss << " nwday" if is_working_day?(current_date)
            sum += total_spent_time_by_day[i] 
            %>
            <%= content_tag(:td, :class => clss) do %>
              <%= link_to l_hours_short(total_spent_time_by_day[i]), project_time_entries_path(@project, :set_filter => 1,:spent_on => current_date) %>
            <% end %>
           <% end %>
           <td class="total"><%= link_to l_hours_short(sum), project_time_entries_path(@project, :set_filter => 1,:f => [:spent_on], :op => {:spent_on => '><'},:v => {:spent_on => [start_date, end_date]}) %>
          </td>
          </tr>
       </tbody>
    </table>
  </div>
  <% end %>
	
