
 <% if User.current.allowed_to?(:view_issues, @project) && !@project.members.empty? %>
 <% content_for :header_tags do %>
   <%= stylesheet_link_tag 'redmine_project_team', plugin: 'redmine_project_team' %>
 <% end %>
  <div class="assignments box">
    <h3><%=l(:label_assignments)%></h3>
    <table class="list assignments">
    	<thead>
    		<th><%=l(:label_members)%>
    		</th>
      <% statuses = project_issue_statuses %>
       <% statuses.each do |status|%>
      <th><%=status.name %>
      </th>
      <% end %>
      <th><%= l(:label_total)%>
      </th>
      </thead>
      <tbody>
        <% assignments = project_issue_assignments %>
        <% for user in @project.assignable_users %>
      		<tr class=<%= cycle('even', 'odd') -%>><td><%=user.name%>
      		</td>
            <% sum = 0 %>
            <% statuses.each do |status|%>
            <td>
              <% count = assignments.fetch([status.id,user.id],0) %>
              <% sum += count %>
              <%= link_to count, project_issues_path(@project, :set_filter => 1, :status_id => status.id, :assigned_to_id => user.id) %>
            </td>
            <% end %>
            <td>
               <%= link_to sum, project_issues_path(@project, :set_filter => 1, :assigned_to_id => user.id) %>
            </td>
  			  </tr>
    	  <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
	
